:root {
    --body: #eee;
    --blue: #14ABBD;
    --yellow: #FFAA00;
    --orange: #FF6000;
    --red: #FF6000;
    --font: 'Delius Unicase', cursive;
}

/* Global styles */
html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background: var(--body);
    font-family: Tahoma, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font);
} 
.container {
    max-width: 560px;
    margin: auto;
}
.title {
    font-size: 50px;
    text-align: center;
}
.text-center {
    text-align: center;
}

/* Boxes */
.box {
    position: relative;
    margin-top: 30px;
    padding: 50px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
}
.box--compact {
    padding: 15px;
}
.box--border {
    background: none;
    border: 3px solid #000;
}
.box--info {
    background: var(--blue);
    box-shadow: 0 1px 4px rgba(20, 171, 189, .4);
    color: #fff;
}

/* Buttons */
.btn {
    padding: 10px 30px;
    background: var(--blue);
    border: 3px solid #000;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}
.btn:hover, 
.btn:focus {
    background: #000;
    outline: 0;
}

/* Scoreboard */
.scoreboard {
    margin-top: 45px;
    padding: 45px 50px 25px;
    text-align: center;
}
.scoreboard__title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0 15px;
    background: var(--body);
    border: 3px solid #000;
    font-size: 30px;
    font-family: var(--font);
    font-weight: bold;
}
.scoreboard__point {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #000;
    border: 3px solid #fff;
    outline: 3px solid #000;
    font-size: 24px;
    color: var(--yellow);
}
.scoreboard__point::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    min-width: 55px;
    padding: 2px 0;
    background:var(--red);
    color: #fff;
    font-size: 10px;
    line-height: normal;
}
.scoreboard__player::before {
    content: "you";
    right: 100%;
    margin-right: 6px;
}
.scoreboard__opponent::before {
    content: "opponent";
    left: 100%;
    margin-left: 6px;
}
.scoreboard__clear {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 5px;
    background: #000;
    color: #fff;
    text-decoration: none;
}

/* Choices */
.choices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 3px solid;
    border-radius: 50%;
    cursor: pointer;
    transition: all .1s;
}
.choice--rock {
    background: var(--blue);
    border-color: var(--blue);
}
.choice--paper {
    background: var(--yellow);
    border-color: var(--yellow);
}
.choice--scissors {
    background: var(--orange);
    border-color: var(--orange);
}
.choices input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.choices input:checked + .choice {
    transform: scale(1.1);
    border-color: #000;
}